@font-face {
  font-family: ailerons;
  src: url(../fonts/ailerons/Ailerons.ttf);
}
@font-face {
  font-family: aileron-light;
  src: url(../fonts/aileron/Aileron-Light.otf);
}
html, body{
  margin: 0;
  padding: 0;
  border:0;
}

/*
                    LATERAL MENU
*/
#menu {
  position: fixed;
  z-index: 200;
  width: 54px;
  height: 100%;
  padding: 0;
  font-family:ailerons;
  background: #000;
  opacity: 0.5; 
  font-family: aileron-light;

  /******* FLEX ******/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:flex-start;
}
#menu li {
  list-style-type: none; 
  padding-left:15px;
  
}
#menu li a {
  text-decoration: none;
  display: inline;
  outline: 0;
}
h3 .glyphicon {
  color:#5BC0DE;
}
.list_item {
  width: 200px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
}
.menu_label h3{
  padding-left: 15px;
}

/*
                    MAIN CONTAINT
*/
/*________________________________ TITLE ________________________________*/
.resume {
	background:#fff;
  font-family:ailerons;
}
.resume_content h1{
  font-family:ailerons;
  font-size: 5em;
  text-align: center;
}
.resume_content h3{
  color:#A4A4A4;
  text-align: center;
}

hr {
  border-color: #5BC0DE;
}
/*________________________________ EDUCATION ________________________________*/
.education{
  background: url('../images/t.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} 
.educ_container{
  width: 50%;
  height: 60%;
  background: rgba(0,0,0,.6);
  color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.educ_container #title{
  padding: 40px;
  text-align: center;
  color: #5BC0DE;
}
.educ_container #content{
  padding: 30px 20px;
}

/*__________________________________ SKILLS _________________________________*/
.skills {
	background: url('../images/k.jpg');
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.skills_container{
  width: 60%;
  height: 50%;
  background: rgba(0,0,0,.6);
  color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.skills_container #title {
  text-align: center;
  color: #5BC0DE;
  padding: 30px;
}
.skills_container #content {
  padding: 40px 20px;
}
.skills_container #content ul{
  padding: 0;
  list-style: none;
  text-align: center;
}
/*___________________________________ CHART _________________________________*/
.chart {
  background: url('../images/h.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.chart_container{
  width: 50%;
  height: 70%;
  background: rgba(0,0,0,.6);
  color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
#title {
  width: 100%;
  padding: 20px 0 30px;
}
#title h1{
  padding:0;
  margin:0;
  text-align: center;
  color: #5BC0DE;
}

.panel-group{
  padding: 5px;

}

.panel{
  width: 80%;
  background: rgba(0,0,0,0);
  margin: auto;
  color: #fff;
}
.panel-heading{
  text-align: center;
}
.panel-heading a  {
  outline: 0;
}
.panel-body{
  text-align: center;
}
.panel-group .panel-heading+.panel-collapse>.panel-body{
  border: 1px solid #5BC0DE;
}

/*_______________________________ SOFT SKILLS _______________________________*/
.soft_skills {
	background: url('../images/p.jpg');
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.soft_container{
  width: 50%;
  height: 45%;
  background: rgba(0,0,0,.6);
  color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.soft_container #title {
  padding: 40px;
  text-align: center;
  color: #5BC0DE;
}
.soft_container #content{
  padding: 40px 20px;
  text-align: center;
}
.soft_container #content ul{
  list-style: none;
  padding: 0;
}
/*_________________________________ CONTACT _________________________________*/
.contact {
	background: url('../images/q.jpg');
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.contact_container{
  width: 45%;
  height: 42%;
  background: rgba(0,0,0,.6);
  color: white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.contact_container #title{
  padding: 40px;
}
.contact_container #content{
  text-align:center;
  padding: 40px 10px;
}

/*_________________________________ PANELS BASE _________________________________*/
.panel_container{
  width: 100%;
  height: 100%;
  font-family: aileron-light;
  padding:0 0 0 54px;
  
  /*   FLEX   */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content:center;
  align-items:center;
}
/*_________________________________ MEDIA QUERIES _________________________________*/
@media screen and (max-width: 845px){
  .educ_container{
    width: 80%;
    height: 60%;
  }
  .menu_label h3{
    font-size: 1.2em;
  }
  .chart_container{
    width: 60%;
  }
  .soft_container{
    width: 60%;
    height: 50%;
  }
  .contact_container #title{
    padding: 20px 10px;
  }
}

@media screen and (max-width: 525px){
  .educ_container{
    width: 80%;
    height: 70%;
  }
  .chart_container{
    width: 80%;
  }
  .contact_container {
    width: 60%;
  }
}

@media screen and (max-width: 449px){
  body {
    font-size: 13px;
  }
  .panel_container{
    padding: 0;
  }
  .contact_container, .skills_container,.soft_container{
    width: 80%;
    height: 40%;
  }
  #title h1{
    font-size: 2em;
  }

  #menu{
    left: -100px;
  }

  /*EDUCATION*/
  .educ_container{
    width: 90%;
    height: 50%;
  }

  /*CHART*/
  .chart_container{
    width: 90%;
  }
  /*CONTACT*/
  .contact_container {
    height: 30%;
  }

  .contact_container #content, .soft_container #title,
  .skills_container #content, .skills_container #title
  .educ_container #content, .educ_container #title{
    padding: 20px 10px;
  }

}

@media screen and (max-width: 392px){
  .educ_container{
    width: 90%;
    height: 60%;
  }
}

@media screen and (max-width: 285px){
  .educ_container{
    width: 90%;
    height: 70%;
  }
}